<div>
  <!-- <p>Brand Name : {{ product.name }}</p>
    <p>Brand Price : {{ product.price }}</p>
    <p>Brand Color : {{ product.color }}</p>

    <p>Discount Price :{{ getDiscountPrice().toFixed(2)}}</p>

    <input [value]="name" (input)="onChange($event)">
    <p>name = {{name}}</p> 
    <div>
        <button (click)="decrease()">-</button>
        <p>{{Qty}}</p>
        <button (click)="increase()">+</button>
    </div> -->

  <p>Example of ngFor</p>
  <div *ngFor="let item of [2, 3, 4]">
    <p>Current element of array is {{ item }}</p>
  </div>
  <hr />
</div>

<app-filter
  [all]="totalProductCount"
  [inStock]="totalProductInStock"
  [outOfStock]="totalProductOutOfStock"
  (selectedFilterBtnChanged)="onFilterChange($event)"
>
</app-filter>
<div class="ekart--products--container" *ngIf="products.length > 0">
  <div *ngFor="let prod of products; let i = index">
    <!-- *ngIf="selectedFilterBtn === 'All' || prod.is_in_inventory.toString() === selectedFilterBtn" -->
    <div class="ekart--product--item" *ngIf="searchTextProductChild === ''  || prod.name.toLowerCase().includes(searchTextProductChild)">
      <div class="ekart-wishlist-sale-container">
        <div class="ekart--add--to--wishlist">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
        <div class="ekart-on-sale-tag" *ngIf="prod.discountPrice">
          {{ (100 - (prod.discountPrice / prod.price) * 100).toFixed(0) }}% OFF
        </div>
      </div>
      <div class="ekart--product--image">
        <img [src]="prod.imageURL" class="object-fit-cover" />
      </div>
      <div class="ekart--add--to--price">{{ prod.price }}</div>
      <div class="ekart--product--name">{{ prod.name }}</div>
      <div class="ekart--product--category">
        {{ prod.gender }} .{{ prod.category }} .{{ prod.brand }}
      </div>
      <div class="ekart--product--available-colors">
        {{ prod.color.length }} . Best Seller
      </div>
    </div>
  </div>
</div>
