
<!-- two way binding -->
<!-- <div  class="d-flex justify-content-center">
  <input type="text" [(ngModel)] ="UserName" (keyup.enter)="OnKeyUp()">
</div>
<p class="text-center mt-2">Your text after enter input field</p>
<p class="text-center text-danger fs-2">{{message}}</p> -->
<!-- <Navbar></Navbar>
<app-post [fromParent]="parentMessage" (MessageEvent)="recivedMessage($event)"></app-post> -->


<!-- 
<div  class="form-area">
  <h1>Post Form</h1>
  <div class="form-group">
    <input type="text" placeholder="Post Title" [(ngModel)]="postTitle">
  </div>
  
  <div class="form-group">
    <textarea type="text" cols placeholder="Post Details" [(ngModel)]="postDetail"></textarea>
  </div>  
</div>

<div>
  <h1>Post Detail</h1>
  <div>Post Title : {{postTitle}}</div>
  <div>Post Details :{{postDetail}}</div>
</div> -->

<!-- in this component you will find a crud and angular pipe -->
<!-- <app-crud-angular></app-crud-angular> -->

<!-- in this component implement of the service and how to used it -->
 <!-- <app-post-service></app-post-service> -->

 <form-practice></form-practice>

<div class="container mt-4">

  <div>Onclick router will render the method</div>

  <button routerLink="/" class="btn btn-primary mx-2">Home</button>
  <button routerLink="/posts" class="btn btn-primary">Posts</button>
  
  <router-outlet></router-outlet>
</div>

<hr>
<div class="container mt-4">
  <h4>Observable</h4>
  <app-angular-rxjs></app-angular-rxjs>
</div>